# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python environment
venv/
env/
.Python

# Build & packaging
build/
dist/
downloads/
*.egg-info/
*.egg
*.so
*.dmg
*.zip
*.tar.gz
*.app
*.icns

# Briefcase outputs
macOS/
logs/
installer/
support/
__pycache__/

# IDE/editor files
.idea/
*.iml
.vscode/
*.swp
*.swo
*.bak

# General
*.log
